# The ID of your Discord channel. To get it, right click on the channel and select Copy URL. 
# The first long string of numbers in the URL you get is Guild ID, the second one id Channel ID
DISCORD_CHANNEL_ID = '1111111111111111111'

# The token of your Discord Bot that has Read Messages permission on the server.
# To give your bot permissions, generate an invite URL at https://discord.com/developers/applications/{YOUR_BOT_ID}/oauth2
# ...in the list of premissions, select 'bot' and in the new list select 'Read Message History'
# If you don't know the token and don't have it saved, you'll have to generate a new one 
# at https://discord.com/developers/applications/{YOUR_BOT_ID}/bot
DISCORD_BOT_TOKEN = 'a_long_string_of_letters'