/* LAYOUT */
main {
  display: grid;
  grid-template:
    "links"
    "heading"
    "description"
    "posts";

  justify-items: center;
}

@media only screen and (max-width: 900px) {
  main {
    grid-template-areas:
      "heading"
      "links"
      "description"
      "posts";
  }
}

h1 {
  grid-area: heading;
}

#links {
  grid-area: links;
}

#posts {
  grid-area: posts;
}

#description {
  grid-area: description;
}

/* DESCRIPTION */
#description p {
  text-align: justify;
  text-align-last: left;
}

#description {
  display: grid;
  position: relative;

  background-color: rgba(221, 233, 175, 0.42);
  padding: 1em 1.5em 2em;
  border-radius: var(--radius);
}

#description:before {
  content: " ";
  background-image: url("/leaf2.svg");
  background-size: cover;
  position: absolute;
  bottom: -25px;
  left: -20px;
  width: 230px;
  height: 197px;
}

@media only screen and (width < 500px) {
  #description {
    padding-bottom: 15px;
  }
}

@media only screen and (width < 900px) {
  #description:before {
    background: 0;
  }
}

/* HERO */

#hero {
  margin-bottom: 3em;
}

.button-link {
  color: var(--accent-color);
  background-color: var(--text-color);
  border-radius: 8px;
  box-shadow: 3px 3px var(--accent-color);
  padding: 0.8em;
  width: fit-content;
  position: absolute;
  bottom: -40px;
  right: 10px;

  text-decoration: none;
  font-size: 1.2em;
}

@media only screen and (width < 500px) {
  .button-link {
    font-size: 1em;
  }
}

.button-link:hover,
.button-link:active {
  color: var(--accent-highlighted-color);
  transform: translate(2px, 2px);
  box-shadow: 1px 1px var(--accent-color);
}

h1 .subtitle {
  font-size: 4vmin;
  font-family: var(--text-font);
}

h1 .loud {
  font-size: 10vmin;
  text-shadow: 2px 2px var(--accent-color);
}
