/* LAYOUT */
main {
  display: grid;
  grid-template:
    "links"
    "heading"
    "description"
    "posts";

  justify-items: center;
}

@media only screen and (max-width: 900px) {
  main {
    grid-template-areas:
      "heading"
      "links"
      "description"
      "posts";
  }
}

h1 {
  grid-area: heading;
}

#links {
  grid-area: links;
}

#posts {
  grid-area: posts;
}

#description {
  grid-area: description;
}

/* DESCRIPTION */
#description p {
  text-align: justify;
  text-align-last: left;
}

#description {
  display: grid;
}

/* DETAILS LINK */
#details-link {
  justify-self: end;
}

/* EXTERNAL LINKS */
#links {
  display: flex;
  list-style: none;
}

#links li:not(:last-child)::after {
  content: "•";
  margin: 0 1em;
}

@media only screen and (max-width: 700px) {
  #links {
    flex-direction: column;
    gap: 1em;
  }
  #links li:not(:last-child)::after {
    content: "";
  }
}

/* LOUD HEADING */
h1 {
  font-size: 4.21rem;
}
