.content {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.expanded {
  max-height: 300px;
}

.expandable button {
  color: inherit;
  background: none;
  border: medium none;
  font-family: inherit;
  font-size: inherit;
  margin: 1em;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.expandable button span {
  font-size: 1rem;
  color: #26589f;
}
