/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  align-self: flex-end;
  margin-top: 1.8em;
}

footer hr {
  width: 35%;
}

footer ul {
  list-style: none;
  display: flex;
  padding: 0 1em;
}

footer ul li:not(:last-child)::after {
  margin: 0 1em;
}

@media only screen and (width >= 700px) {
  footer ul li:not(:last-child)::after {
    content: "•";
  }
}

@media only screen and (width < 700px) {
  footer ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  footer hr {
    width: 10%;
  }
}

footer {
  color: var(--lowkey-color);
}
