#posts p {
  max-width: 50ch;
  text-align: justify;
}

#posts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#posts a {
  color: var(--text-color);
}

#posts h2 {
  margin: 0;
  font-size: 6vmin;
}

#posts h2 a {
  text-decoration: none;
}

#posts .post {
  position: relative;
}

#posts .post:nth-child(even):before {
  content: " ";
  background-image: url("/anemone1.svg");
  background-size: cover;
  position: absolute;
  top: -20px;
  right: 8px;
  width: 60px;
  height: 48px;
}

#posts .post:nth-child(odd):before {
  content: " ";
  background-image: url("/daffodil1.svg");
  background-size: cover;
  position: absolute;
  bottom: -10px;
  left: 3px;
  width: 60px;
  height: 60px;
}

#posts a {
  text-shadow: 1px 1px 2px var(--accent-color);
}

#posts a:hover,
#posts a:active {
  text-shadow: 0 1px 5px var(--accent-color);
}
