#mods-list {
  border-radius: var(--radius);
  border: 1px solid var(--text-color);
  padding: 1em;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;

  min-width: 50vw;
}

#mods-list li {
  margin: 0;
  padding: 0;
}

.mod-chip {
  border: 1px solid var(--lowkey-color);
  border-radius: var(--radius);
  padding: 0 1em;
  margin: 0;

  background-color: rgba(255, 255, 255, 0.1);

  text-decoration: none;
}

.mod-chip:hover {
  background-color: var(--lowkey-color);
  color: var(--accent-color);
}

#total {
  font-style: italic;
  margin: 0.2em;
}
#mods h2 {
  margin-bottom: 0;
}
