.post {
  padding: 1em;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
}

.post h3 {
  margin: 0;
}

.post time {
  align-self: flex-end;
}

.post .post-content {
  white-space: pre-wrap;
}
