.post {
  padding: 1em;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
}

.post h3 {
  margin: 0;
}

.post time {
  align-self: flex-end;
}

.post .spoiler {
  transition:
    color 0.5s,
    opacity 0.5s,
    background-color 0.5s;
}
.spoiler:not(:hover) {
  background-color: var(--lowkey-color);
  color: transparent;
}
.spoiler:not(:hover) > * {
  opacity: 0;
}
